---
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<main>
		<img src="/icon.png" alt="Tightknit" />
	</main>
</Layout>

<style>
	main {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100vh;
	}

	img {
		width: 200px;
		height: 200px;
	}
</style>
